<div id="dmp-content">
    <section id="admin information" class="dmp-section">
        <h2>Section A: ADMINSTRATIVE INFORMATION </h2>

        {% include "src/questions/admin.html.j2" with context %}

    </section>

    <section id="reuse-data" class="dmp-section">
        <h2>Section B: DATA DESCRIPTION AND COLLECTION OR RE-USE OF EXISTING DATA </h2>
        {% include "src/questions/existing-data.html.j2" with context %} {% include "src/questions/collected-data.html.j2" with context %}
    </section>

    <section id="doc-quality-data" class="dmp-section">
        <h2>Section C: DOCUMENTATION AND DATA QUALITY</h2>

        {% include "src/questions/metadata-doc.html.j2" with context %}
    </section>

    <section id="storage-backup" class="dmp-section">
        <h2> LEGAL AND ETHICAL REQUIREMENTS, CODES OF CONDUCT </h2>

        {% include "src/questions/legal.html.j2" with context %}
    </section>

    <section id="legal-bases" class="dmp-section">
        <h2>Section E: </h2>

        {% include "src/questions/data-stored.html.j2" with context %}
    </section>

    <section id="sharing-preservation" class="dmp-section">
        <h2>Section F: DATA SHARING AND LONG-TERM PRESERVATION</h2>

        {% include "src/questions/data-sharing.html.j2" with context %}
    </section>

    {#
    <section id="responsibilities-resources" class="dmp-section">
        <h2>Section G: DATA MANAGEMENT RESPONSIBILITIES AND RESOURCES</h2>

        {% include "parts/questions/acess.html.j2" with context %}

    </section> #}
</div>