{% macro renderCurrentLevel() %}
  {% for levelDefinition in levelDefinitions %}
    {% if levelDefinition.level == ctx.level %}
      {{levelDefinition.title}}
    {% endif %}
  {% endfor %}
{% endmacro %}

{%- macro integrationValue(reply, questionUuid) -%}
  {%- if reply and reply.value.value.type == "IntegrationType" -%}
    {%- set question = km.entities.questions[questionUuid] -%}
    {%- set integration = km.entities.integrations[question.integrationUuid] -%}
    {%- set integrationLink = integration.itemUrl|replace("${id}", reply.value.value.id) -%}
    <a href="{{ integrationLink }}" target="_blank">{{ reply.value.value.value }}</a>
  {%- elif reply %}
    {{ reply.value.value.value }}
  {%- endif -%}
{%- endmacro -%}
