{# Used UUID Paths #}
{# Chapter 1 - Administrative details #}
{%- set adminDetailsCUuid = "1e85da40-bbfc-4180-903e-6c569ed2da38" -%}
{%- set projectNameQUuid = "f0ef08fd-d733-465c-bc66-5de0b826c41b" -%}
{%- set contributorsQUuid = "73d686bd-7939-412e-8631-502ee6d9ea7b" -%}
{%- set contributorNameQUuid = "6155ad47-3d1e-4488-9f2a-742de1e56580" -%}
{%- set contributorAffiliationQUuid = "68530470-1f1c-4448-8593-63a288713a66" -%}
{%- set contributorRoleQUuid = "829dcda6-db8a-40ac-819a-92b9b52490f5" -%}
{%- set contributorRoleContactPersonAUuid = "f7468e79-c621-4ac9-95e0-263ebdf23c73" -%}
{%- set contributorRoleDataCuratorAUuid = "0ee99167-c1a2-4fe9-a799-ef07a31ccf35" -%}
{%- set contributorRoleDataCollectorAUuid = "fe411838-170e-45d7-9d91-14f95ad347e6" -%}
{%- set contributorRoleDataManagerAUuid = "6eef8c10-150a-496c-b02a-61c90e62e95b" -%}
{%- set contributorRoleDataStewardAUuid = "3eec8106-b82c-4ce4-8fde-0a5270c55b10" -%}
{%- set contributorRoleDistributorAUuid = "ae91b0b1-a591-49d1-a85c-13071550c043" -%} 
{%- set contributorRoleEdictorAUuid = "b7ee1e51-2628-486e-a341-2437c546897d" -%}
{%- set contributorRoleProducerAUuid = "ac02d12c-db42-4d47-a557-5fbd1d7ae524" -%}
{%- set contributorRoleProjectLeaderAUuid = "c1caf2a7-fd84-4856-b3c4-35e09b5e1aca" -%}
{%- set contributorRoleProjectManagerAUuid = "99f5e968-cea8-49bf-a406-f134e664e657" -%}
{%- set contributorRoleProjectMemberAUuid = "53dade1c-828c-4887-829a-65b4540291d5" -%}
{%- set contributorRoleResearcherAUuid = "369db75c-cf52-459a-836c-e3bcac3590bb" -%} 
{%- set contributorRoleRightsHolderAUuid = "5d758307-4e3a-439b-8c88-4dbdbfcd2154" -%}
{%- set contributorRoleSponsorAUuid = "82ecfb2d-e321-47e4-93d8-e36a9a7031e9" -%}
{%- set contributorRoleSupervisorAUuid = "c6883c1f-6dd8-4c5b-aa7d-b93e4e2d9378" -%}
{%- set contributorRoleWOrkPackageLeaderAUuid = "d24fd64b-6a66-4d22-80f0-2d1aae4a554f" -%}
{%- set contributorRoleOtherAUuid = "dead02bb-d5b2-4036-9e99-3318f191b3d0" -%} 


{# Chapter 2 - Reusing data #}
{%- set reusingCUuid = "82fd0cce-2b41-423f-92ad-636d0872045c" -%}
{%- set preexistingQUuid = "efc80cc8-8318-4f8c-acb7-dc1c60e491c1" -%}
{%- set preexistingYesAUuid = "2663b978-5125-4224-9930-0a50dbe895c9" -%}
{%- set usingPreexistingQUuid = "59efe0c4-fc18-4082-a656-6d0c1db45899" -%}
{%- set usingPreexistingYesAUuid = "dac677d4-99f9-4af8-935a-4a1c9c7cdbdf" -%}
{%- set refDataQUuid = "fcc51962-08df-4f4c-85ad-6bb932107010" -%}
{%- set refDataNameQUuid = "93988527-5bff-4125-8834-3750e9a28683" -%}
{%- set refDataWhereQUuid = "7801fe70-a2ac-432b-9470-e326646c249f" -%}
{%- set refDataConditionsQUuid = "aee03da5-b399-4274-8db4-fac82c6210d3" -%}
{%- set refDataConditionsCC0AUuid = "de5d31e0-dadb-422b-bd88-34f006f11d60" -%}
{%- set refDataConditionsCCBYAUuid = "180bb426-9ebe-4210-b307-eaeb1be12c0e" -%}
{%- set refDataConditionsOtherAUuid = "85dcd5ee-002b-4db7-a0de-241a4b2f0688" -%}
{%- set refDataConditionsOtherQUuid = "dce3e924-717a-4b50-bdac-1b247e9ac18a" -%}
{%- set refDataVersionedQUuid = "10b6548c-21cd-44c8-a8de-47415e7b012e" -%}
{%- set refDataVersionedYesAUuid = "842007ce-0951-4655-8acc-b0f582e82ea1" -%}
{%- set refDataVersionedWhichQUuid = "f00a28fb-ac77-4110-b285-c73c8bc62630" -%}
{%- set refDataVersionedChangeQUuid = "481d0157-6d89-4f68-9f3b-cf1b05f8f15d" -%}
{%- set refDataVersionedChangeStayAUuid = "a4f6a1da-536b-43fa-9637-71e33327fa08" -%}
{%- set refDataVersionedChangeNewAUuid = "069a0976-498c-4a47-b42f-33c6a1e40126" -%}
{%- set refDataVersionedChangeAllAUuid = "dc8dbe60-43e8-4ed4-ab11-13bb74aea820" -%}
{%- set nrefDataQUuid = "be872000-cb98-442f-999c-ca3ef58dcfe8" -%}
{%- set nrefDataNameQUuid = "44120979-2840-4522-8297-df13f7fd1e3a" -%}
{%- set nrefDataWhereQUuid = "5f73797c-268a-4862-b48b-75719ff47709" -%}

{# Chapter 3 - Creating and collecting data #}
{%- set creatingCUuid = "b1df3c74-0b1f-4574-81c4-4cc2d780c1af" -%}


{%- set formatsQUuid = "b08fe063-33f8-4380-b3a9-ba1e586dedf2" -%}
{%- set formatsNameQUuid = "f00cf643-5368-458a-97d4-b463c2000c66" -%}
{%- set formatsIsStandardQUuid = "ecff019a-d4e6-44c6-a8fe-c84eb15ed8b7" -%}
{%- set formatsIsStandardYesAUuid = "d4ce2c56-b3df-4013-9220-289b28f922de" -%}
{%- set formatsIsStandardNoAUuid = "52b7aba3-d809-4a30-b3f8-90caa7a32a10" -%}
{%- set formatsWhyNonStandardQUuid = "8bd3d76a-4f69-4a1e-82dd-5416739720b3" -%}
{%- set formatsWhyNSThereIsNoStandardAUuid = "2da70314-879e-46f5-a1da-2794d71a12d3" -%}
{%- set formatsWhyNSItIsOptimizedAUuid = "6c26d57b-468c-42ba-a01c-05d1334d0a6e" -%}
{%- set formatsWhyNSAnotherReasonAUuid = "ab19f42e-6204-409e-aa6d-6d87783cce44" -%}
{%- set formatsWhyNSAnotherReasonQUuid = "ea7420ef-3de3-4ca8-9ff8-ac1cdb0e506f" -%}
{%- set formatsIsLTSuitableQUuid = "ced5a7c2-4034-4763-a1d5-3cb815cdfddb" -%}
{%- set formatsIsLTSuitableNoAUuid = "86e547b8-e3ae-44b2-89ad-3a0d67decc56" -%}
{%- set formatsConvertLTSuitableQUuid = "bf32374c-b24e-4b03-9898-a753cff56fcf" -%}
{%- set formatsConvertLTSuitableYesAUuid = "7d8dc2f5-2699-4fb3-8bf6-e620868a0583" -%}
{%- set formatsConvertLTSuitableNoAUuid = "3159d107-d322-4126-958f-900fc011eeae" -%}
{%- set formatsIsLTSuitableYesAUuid = "985e488d-257f-479d-8113-5dcbe105a08e" -%}
{%- set formatsVolumeQUuid = "ba9e42fc-2bf5-413f-85de-003f981aaf81" -%}
{%- set formatsVolumeSmallAUuid = "7d3857a2-bb7d-4355-b2ca-bd6beb7cc3ea" -%}
{%- set formatsVolumeTotalAUuid = "c2bc3d0b-a11b-4831-bd2c-5235dbf868b7" -%}
{%- set formatsVolumeTotalGBQUuid = "4ae6452a-4ca6-434c-8453-7e3872e41847" -%}
{%- set formatsVolumeFileSizeAUuid = "24dbd191-2d0c-4267-b858-d9063b21a486" -%}
{%- set formatsVolumeFilesQUuid = "448403e9-578b-4155-9017-d4aa9119ea6a" -%}
{%- set formatsVolumeFileGBQUuid = "624cfadf-6177-47b7-9ba8-b80b68aef0fd" -%}

{%- set metadataQUuid = "8c962e6f-17ee-4b22-8ebb-9f06f779e3b3" -%}
{%- set metadataExploreAUuid = "6d18bfff-0f53-469b-934e-9806dda9d4fb" -%}
{%- set metadataSuitableQUuid = "6226d7f2-565f-4991-94b3-c00be6aca20e" -%}

{%- set metadataSuitableYesAUuid = "08bd1365-7f0e-4b78-aeb1-3c0e85e84cb6" -%}
{%- set metadataSuitableNoAUuid = "a23664b1-a17c-41fe-855c-db274984b355" -%}
{%- set metadataSuitableDontKnowAUuid = "982053d7-4b8d-4ee1-be46-0a94bc6cdd95" -%}


{%- set metadataReusabilityQUuid = "15573266-7ddf-4c6b-962e-45691d34cf61" -%}
{%- set metadataReusabilityYesAUuid = "cb765913-50c9-482e-bf10-5f5f91d0e473" -%}
{%- set metadataReusabilityYNoAUuid = "b2ca0d26-7fdd-44f1-b064-bc4cd4c45661" -%}

{%- set metadataIntegrityQUuid = "02b3fed1-0b50-4a80-b8b6-a225a1107022" -%}
{%- set metadataIntegrityExploreAUuid = "8608d3df-7d7f-4893-8f80-e5297167b213" -%}

{%- set metadataIntegrityExploreMasterAUuid = "e0759fdc-7ce9-4020-816d-73119f634c7e" -%}
{%- set metadataIntegrityExploreMasterNoAUuid = "637f4603-0a24-47d1-a2f7-96958b4841fd" -%}
{%- set metadataIntegrityExploreMasterYesAUuid = "e7a8b914-54f3-4a72-9136-74a99db73926" -%}

{%- set metadataIntegrityExploreDetectAUuid = "acb86509-e93a-4d87-a958-74def0678e10" -%}
{%- set metadataIntegrityExploreDetectNoAUuid = "4bd98e96-3d02-4967-b56b-d94a7b0079c6" -%}
{%- set metadataIntegrityExploreDetectYesAUuid = "ec3718dd-c8f4-417d-91ca-93408fa89953" -%}








{%- set metadataIntegrityAUuid = "02b3fed1-0b50-4a80-b8b6-a225a1107022" -%}

{%- set metadataProvenanceQUuid = "daa06d1a-6314-4c6d-93a8-69954c7f5c54" -%} 
{%- set metadataProvenanceElectroAUuid = "5480e0b8-8e0b-4b66-929f-eef3b89e6113" -%}
{%- set metadataProvenanceWorkflowAUuid = "32a1e3ef-6aa8-4eae-a517-b1dcf866d118" -%}
{%- set metadataProvenanceReadmeAUuid = "d5f96898-673f-423a-84b8-8a51cb4cf46c" -%}
{%- set metadataProvenanceFilesAUuid = "6fe26e94-1538-417f-b1ec-92ef45a6a062" -%}



{%- set metadataNamingFIleQUuid = "8e886b55-3287-48e7-b353-daf6ab40f7d8" -%}
{%- set metadataNamingFIleExploreAUuid = "c05f27a2-30ac-44fd-9ac9-cd6f62b16d0c" -%}
{%- set metadataNamingFIleOrgAUuid = "7830afa6-3769-4d52-8ab6-a632fa335143" -%}
{%- set metadataNamingFIleSopAUuid = "d4fe0b55-4aee-4d05-88d4-a3f4cad2cfa9" -%}

{%- set metadataNamingFIleSopYesAUuid = "8b13234e-879b-4221-be12-4df24e6de00e" -%}
{%- set metadataNamingFIleSopProvideAUuid = "9ff389f0-2236-48cf-880c-040ea1bb0d2f" -%}



{%- set needConsentQUuid = "f5e162ee-1077-4ebe-a932-192bc7f67e98" -%}
{%- set needConsentNoNotCollectAUuid = "d4375763-1af3-48a0-8738-f216b5ceeff0" -%}
{%- set needConsentNoAnotherLegalAUuid = "e1ae38ed-14fb-4143-8a76-3883bd794b9b" -%}
{%- set needConsentYesSpecificAUuid = "a484287c-fd7f-47ca-8dea-cdb36f48616d" -%}
{%- set needConsentYesReuseAUuid = "08014631-8a8a-4efa-bd58-3766cc40c7ed" -%}
{%- set needConsentYesAnonymizeAUuid = "3a77595a-87ae-484d-a9a6-052f312453ee" -%}

{%- set legalBaseQUuid = "973d38a0-e363-4162-9aed-1803423e85fe" -%}
{%- set legalBaseComplianceAUuid = "6dc3766a-79d7-4adc-b0e8-d72b73eb8d32" -%}
{%- set legalBaseContractAUuid = "817feba4-9cbc-4efa-b79e-4ccb725b18ce" -%}
{%- set legalBaseVitalInterestsAUuid = "9620fd08-f662-4f00-ae99-85fb71ba1430" -%}
{%- set legalBasePublicInterestsAUuid = "23808dab-f991-4ac7-8900-80a84ec0a934" -%}
{%- set legalBaseLegitimateInterestsAUuid = "4e717aa4-31ba-45df-ac2c-d1b8211aab24" -%}
{%- set legalBaseOtherAUuid = "6dfaa1b8-4c72-45a6-a606-29382144326a" -%}
{%- set legalBaseOtherQUuid = "868f29a5-2bff-431b-8308-b0d7c3678da1" -%}

{%- set ownershipQUuid = "cb7d17a8-30c0-489d-a43c-702b27d97611" -%}
{%- set ownershipNoOwnerAUuid = "f310952b-e946-4315-bb32-bf127d1bf96a" -%}
{%- set ownershipPIAUuid = "91d6ee6f-c501-4d1c-a6e7-9da1789f68de" -%}
{%- set ownershipInstituteAUuid = "ef4ac36a-eea0-42b4-8292-b89090a1b5ef" -%}
{%- set ownershipConsortiumAUuid = "115a165f-9d3f-440d-a822-4bd2795c264e" -%}
{%- set ownershipOtherAUuid = "0fd3cd1c-e0e8-41d5-9beb-3f1faba0fb91" -%}
{%- set ownershipOtherQUuid = "06655161-9a91-47f4-af3b-9d2a5e6db19b" -%}



{# Chapter 4 - Processing data #}
{%- set processingCUuid = "10a10ffd-bfe1-4c6b-bbb6-3dfb1e63a5d5" -%}



{%- set exactRunQUuid = "1991077f-04ae-4808-90a5-e4b2f82e30bf" -%}
{%- set lossRiskQUuid = "614ab69d-55a6-4214-b384-00ba21ce92a1" -%}




{%- set storageConvQUuid = "bc5e3dbf-2923-4025-a49a-f204b01d4018" -%}
{%- set storageConvExploreAUuid = "f7f2ff16-eee0-42a7-a89a-bd7291cef5fc" -%}
{%- set storageConvFSysQUuid = "a12aa967-28a5-4a9b-8df8-f7c533205ea4" -%}
{%- set storageConvFSysNoAUuid = "988d0815-44a8-449e-b859-d95072054450" -%}
{%- set storageConvFSysYesAUuid = "00ed33b9-ef1c-4de0-932b-bc6a29023e76" -%}

{%- set scFSysSubjFoldersQUuid = "cc76bce4-f4df-40e0-b28b-dc64b95b7c7b" -%}
{%- set scFSysSubjFoldersNoAUuid = "d8e75d4d-08b8-40d0-9894-becd7e282772" -%}
{%- set scFSysSubjFoldersYesAUuid = "b1fdd89d-7493-4f02-9d9f-d9b28caa5c2a" -%}
{%- set scFSysSubjFoldersConvsQUuid = "c9ed47c7-49f7-4ea5-895d-1d17c19c36e4" -%}



{%- set scFSysAnalysisFoldersQUuid = "f8eeb548-f5af-4fc8-a5fd-88fdf28b0de1" -%}
{%- set scFSysAnalysisFoldersNoAUuid = "b95e30f5-652b-42b7-943f-022df817f2cb" -%}
{%- set scFSysAnalysisFoldersYesAUuid = "0493b207-9ed9-4437-aa3d-603632b600c1" -%}
{%- set scFSysAnalysisFoldersConvsQUuid = "ecb23397-d44d-4623-8233-481e753492ea" -%}

{%- set scFSysWorkflowStepFoldersQUuid = "c39edad5-fc9a-4649-9c8f-dbebd6902578" -%}
{%- set scFSysWorkflowStepFoldersNoAUuid = "f8896f30-e90a-4ee6-a1c4-085636b36535" -%}
{%- set scFSysWorkflowStepFoldersYesAUuid = "420d249b-5586-41d1-98b3-01961190308c" -%}
{%- set scFSysWorkflowStepFoldersConvsQUuid = "dad8247a-3553-48dc-8518-d64057cded1e" -%}

{%- set sharedWorkspaceQUuid = "72099c46-16e7-47a2-a320-cc768b7085fe" -%}
{%- set sharedWorkspaceNoAUuid = "1d6ba101-fd62-43c8-ab53-76bc31847f58" -%}
{%- set notSharedBackupQUuid = "c1e83bdf-5914-44c2-8414-0a4e7fbaf272" -%}
{%- set notSharedBackupNoQUuid = "0c93a407-b04a-4c89-a8e4-299a4d77c21e" -%}
{%- set notSharedBackupYesQUuid = "ec92df2d-f6db-4cc8-8317-ae24ab4fa08a" -%}

{%- set sharedWorkspaceYesAUuid = "e7324e1a-bfcb-4f2b-855a-35701dfb1ad5" -%}
{%- set sharedWorkspaceYesSpecialistsAUuid = "5607d0bb-6b9e-4211-821c-785acc3aa25e" -%}
{%- set sharedWorkspaceYesSpecialistsYesAUuid = "35b32d04-fec6-465e-976d-466aafcb385d" -%}
{%- set sharedWorkspaceYesSpecialistsNoAUuid = "bcbc8cf6-7ba6-40d4-be2b-db85cb9e26c1" -%}

{%- set sharedAccessControlQUuid = "80d403f3-3f29-4f37-9040-b901ae9afa37" -%}
{%- set sharedAccessControlMembersRWAUuid = "302e4b9b-9a9c-4fb0-9745-5f8ff4cca746" -%}
{%- set sharedAccessControlInstituteRAUuid = "154cd5fc-a79f-4c2e-be67-6985813bbc8d" -%}
{%- set sharedAccessControlMembersRAUuid = "b21c9f70-78e7-4975-b776-59e372285662" -%}
{%- set sharedAccessControlMembersRequestAUuid = "b19ba76a-4b6a-45f6-8ab5-8bbfb92c7b2c" -%}






{# Chapter 5 - Preserving data #}
{%- set preservingCUuid = "d5b27482-b598-4b8c-b534-417d4ad27394" -%}
{%- set producedDataQUuid = "4e0c1edf-660c-4ebf-81f5-9fa959dead30" -%}

{%- set producedDataNameQUuid = "b0949d09-d179-4491-9fb4-14b0deb9f862" -%}

{%- set repositoryDataQUuid = "80a682bd-8a5c-4a52-935d-680509838a4e" -%}

{%- set repositoryDomainAUuid = "1dc412c6-da92-4cc2-8639-316c0c6ec5ff" -%}
{%- set repositoryWhatDataAUuid = "221c322e-dff5-438f-8a2e-90e762681156" -%}
{%- set repositoryContactAUuid = "b1492627-9cb6-465a-945a-a2a7ff9a8189" -%}
{%- set repositorySubmissionAUuid = "c86c80b4-72b3-4194-956a-27e40d3c23eb" -%}
{%- set repositoryContactedAUuid = "e09562c0-346c-4c95-b470-c5810aab18fa" -%}
{%- set repositoryWillcontactAUuid = "93c590a5-60a6-481d-9482-9145435143a2" -%}
{%- set repositoryArrangedAUuid = "620b1090-2a57-4f3c-b336-97c9e95da637" -%}
{%- set repositoryArrangedOtherAUuid = "fc0857c1-e4d2-47f5-86b1-0292bfc7eecf" -%}

{%- set repositoryNationalAUuid = "fb96d008-f31a-4a1a-b203-b3f9bb32fcc8" -%}

{%- set repositoryInstitutionalAUuid = "df0b2ee3-8e4d-42a1-9bb2-c69228074406" -%}

{%- set repositorySpecifiedpurposeAUuid = "afd9f4d5-20e0-4fa0-a42a-376c132ff5b0" -%} 

{%- set repositorySpecifiedSupportAUuid = "f83a9afd-c6de-452b-be9f-bd76e5eb6b54" -%}

{%- set repositorySpecifiedSupportNoAUuid = "dc921fac-cf77-4d3d-bb9c-907d37f838ef" -%}
{%- set repositorySpecifiedSupportYesAUuid = "714e0a22-c059-4f80-9780-6f7f2e2ce53b" -%}

{%- set repositorySpecifiedServiceAUuid = "cbbfb0da-caf1-4c04-b72f-de39c4a8fb33" -%}
{%- set repositorySpecifiedServiceDownloadAUuid = "dc1082fd-1c90-492c-833c-3e0909c643bb" -%}
{%- set repositorySpecifiedServiceAcessAUuid = "da6725a2-62bb-4fe7-a76f-a4e396646b19" -%}
{%- set repositorySpecifiedServiceProcessingAUuid = "d65ddfda-9b08-4ab6-90e5-07df748d7929" -%}

{%- set repositorySpecifiedSysAdminAUuid = "f691ad73-1284-4c7d-999d-34bb0612dd42" -%}
{%- set repositorySpecifiedSysAdminYesAUuid = "d2c01a84-fc1d-4108-95c4-9e9e9198f93e" -%}
{%- set repositorySpecifiedSysAdminNoAUuid = "4dd69e44-097b-42fc-98a4-4ce379453d46" -%}




{%- set dataKeptQUuid = "d4e6a244-07fb-4573-b93f-c20a9409ac7c" -%}
{%- set dataKeptTechnicallyAUuid = "59305ef2-2dd0-4553-8d7b-29186e0b8cd5" -%}
{%- set dataKeptuntilNeedAUuid = "bb6b4f0a-9908-4473-9982-30084ff4f6ab" -%}
{%- set dataKeptfixedPeriodAUuid = "7b5f059a-ae7e-4f7f-92e8-119911e568b2" -%}
{%- set dataKeptfixedPeriodIsAUuid = "346118ee-265f-4104-8409-161ea9a57f75" -%}


{%- set doiQUuid = "3cf7be99-76bd-4f62-be44-66cbe3df154a"-%}
{%- set doiNoQUuid = "b18fab25-3059-452e-8bfe-9534959fba4a"-%}
{%- set doiYesQUuid = "07a9cea9-efd3-4a7f-a0b7-dff3118e393f"-%}
{%- set doiYesIsQUuid = "0a47de5e-c751-4cb0-b657-0ba04206cb3e"-%}

{%- set publishingSoftwarwesQUuid = "1ae8d7b0-4bcd-4914-aaea-fa389fc056f4" -%}

{%- set publishingSoftwarwesPackagesAUuid = "1024bb15-aaf5-4696-9b49-42898b72a16d" -%}

{%- set publishingSoftwarwesOpenSourceAUuid = "36938ca8-e22d-47a6-8859-a52f536101c5" -%}
{%- set publishingSoftwarwesOpenSourceNoAUuid = "d675443d-3581-4b7e-bfeb-9b06349fec1a" -%}
{%- set publishingSoftwarwesOpenSourceDecidedAUuid = "0a779591-6b8e-4e65-96b6-e3782f71532c" -%}
{%- set publishingSoftwarwesOpenSourceLicenceAUuid = "0184bfcc-69ab-48c8-9d62-e23ae73a60be" -%}
{%- set publishingSoftwarwesOpenSourceWillDecideAUuid = "6d887b51-696e-41ee-947f-d0022d7c6aee" -%}

{%- set publishingSoftwarwesPackagesAvailableAUuid = "87b45400-169d-424d-8e71-d2034618dab5" -%}

{%- set publishingSoftwarwesPackagesCatalogueAUuid = "3effd452-f0ae-4c25-b971-2b5762889ca4" -%}
{%- set publishingSoftwarwesPackagesCatalogueNoAUuid = "89e5e0fe-2066-4fc1-b872-be6b317a213b" -%}
{%- set publishingSoftwarwesPackagesCatalogueYesAUuid = "3a417eea-0b1d-4dc8-b5f5-f109d7513eb4" -%}








{# Chapter 6 - Giving access to data #}
{%- set accessCUuid = "6be88f7c-f868-460f-bba7-91e1c659adfd" -%}
{%- set accessPhilosophyQUuid = "6516eae1-98b2-48f2-9862-b5fb140cfad7" -%}
{%- set accessOpenQUuid = "a549d10b-aa46-4c0c-863f-30219ac5ecce" -%}












