<div id="q-docs-metadata" class="question">
 
  <div class="answer">
      
{# Format/Type with volume #}
      {%- set formatsPath = [uuids.creatingCUuid, uuids.formatsQUuid]|reply_path -%}
      {%- set formatsItems = repliesMap[formatsPath]|reply_items -%}
      {%- if formatsItems|length > 0 -%}
      <h4>Data formats and types</h4>
      
      <h3>What  data  will be  collected  or produced?</h3>
      <ul>
      <h5> We will be using the following data formats and types: </h5>
      
            {%- for formatItem in formatsItems -%}
            {%- set formatPrefix = [formatsPath, formatItem]|reply_path -%}
            {%- set formatNameReply = repliesMap[[formatPrefix, uuids.formatsNameQUuid]|reply_path] -%}
            {%- set formatsIsStandardPath = [formatPrefix, uuids.formatsIsStandardQUuid]|reply_path -%}
            {%- set formatsIsStandardAUuid = repliesMap[formatsIsStandardPath]|reply_str_value -%}
            {%- set formatsIsLTSuitablePath = [formatPrefix, uuids.formatsIsLTSuitableQUuid]|reply_path -%}
            {%- set formatsIsLTSuitableAUuid = repliesMap[formatsIsLTSuitablePath]|reply_str_value -%}
            {%- set formatsVolumePath = [formatPrefix, uuids.formatsVolumeQUuid]|reply_path -%}
            {%- set formatsVolumeAUuid = repliesMap[formatsVolumePath]|reply_str_value -%}
            <li>
                  {# identification #}
                  <p>{{ macros.integrationValue(formatNameReply, uuids.formatsNameQUuid) }}</p>
                  {%- if formatsIsStandardAUuid or formatsIsLTSuitableAUuid or formatsVolumeAUuid -%}

                        <p>
                        {# standard? #}
                        {%- if formatsIsStandardAUuid == uuids.formatsIsStandardYesAUuid %}
                              It is a standardized format.
                        {%- elif formatsIsStandardAUuid == uuids.formatsIsStandardNoAUuid -%}
                              {%- set formatsWhyNonStandardPath = [formatsIsStandardPath, uuids.formatsIsStandardNoAUuid, uuids.formatsWhyNonStandardQUuid]|reply_path -%}
                              {%- set formatsWhyNonStandardAUuid = repliesMap[formatsWhyNonStandardPath]|reply_str_value -%}
                              {%- if formatsWhyNonStandardAUuid == uuids.formatsWhyNSThereIsNoStandardAUuid %}
                              It is not a standardized format because there is no standardized format for this data type.
                              {%- elif formatsWhyNonStandardAUuid == uuids.formatsWhyNSItIsOptimizedAUuid %}
                              It is not a standardized format but it is optimized for processing speed and/or volume.
                              {%- elif formatsWhyNonStandardAUuid == uuids.formatsWhyNSAnotherReasonAUuid -%}
                                    {%- set formatsWhyNSAnotherReasonPath = [formatsWhyNonStandardPath, uuids.formatsWhyNSAnotherReasonAUuid, uuids.formatsWhyNSAnotherReasonQUuid]|reply_path -%}
                                    {%- set formatsWhyNSAnotherReason = repliesMap[formatsWhyNSAnotherReasonPath]|reply_str_value -%}
                                    It is not a standardized format.
                                    {%- if formatsWhyNSAnotherReason %}
                                    {{ formatsWhyNSAnotherReason|capitalize|dot }}
                                    {%- endif -%}
                              {%- endif -%}
                        {%- endif -%}
                        {# long-term suitable? #}
                        {%- if formatsIsLTSuitableAUuid == uuids.formatsIsLTSuitableYesAUuid %}
                              This is a suitable format for long-term archiving.
                        {%- elif formatsIsLTSuitableAUuid == uuids.formatsIsLTSuitableNoAUuid -%}
                              {%- set formatsConvertLTSuitablePath = [formatsIsLTSuitablePath, uuids.formatsIsLTSuitableNoAUuid, uuids.formatsConvertLTSuitableQUuid]|reply_path -%}
                              {%- set formatsConvertLTSuitableAUuid = repliesMap[formatsConvertLTSuitablePath]|reply_str_value -%}
                              {%- if formatsConvertLTSuitableAUuid == uuids.formatsConvertLTSuitableYesAUuid %}
                                    This is not a suitable format for long-term archiving; however, we plan to convert it to a suitable format before the end of the project.
                              {%- elif formatsConvertLTSuitableAUuid == uuids.formatsConvertLTSuitableNoAUuid %}
                                    We are aware that this is not a suitable format for long-term archiving.
                              {%- endif -%}
                        {%- endif -%}
                        {# volume #}
                        {%- if formatsVolumeAUuid == uuids.formatsVolumeSmallAUuid %}
                              We will have only a small amount of data stored in this format.
                        {%- elif formatsVolumeAUuid == uuids.formatsVolumeTotalAUuid -%}
                              {%- set formatsVolumeTotalGB = repliesMap[[formatsVolumePath, uuids.formatsVolumeTotalAUuid, uuids.formatsVolumeTotalGBQUuid]|reply_path]|reply_str_value -%}
                              {%- if formatsVolumeTotalGB %}
                                    We expect to have {{ formatsVolumeTotalGB }} GB of data in this format.
                              {%- endif -%}
                              {%- elif formatsVolumeAUuid == uuids.formatsVolumeFileSizeAUuid -%}
                                    {%- set formatsVolumeFiles = repliesMap[[formatsVolumePath, uuids.formatsVolumeFileSizeAUuid, uuids.formatsVolumeFilesQUuid]|reply_path]|reply_str_value -%}
                                    {%- set formatsVolumeFileGB = repliesMap[[formatsVolumePath, uuids.formatsVolumeFileSizeAUuid, uuids.formatsVolumeFileGBQUuid]|reply_path]|reply_str_value -%}
                                    {%- if formatsVolumeFiles and formatsVolumeFileGB %}
                                          We expect to have {{ formatsVolumeFiles }} files of average size {{ formatsVolumeFileGB }} GB (i.e. approximatelly {{ (formatsVolumeFiles|int * formatsVolumeFileGB|float)|round(2) }} GB in total).
                                    {%- endif -%}
                              {%- endif -%}
                        </p>
                  {%- endif -%}
             </li>
            {%- endfor -%}
      </ul>
      
      {%- endif -%}
  </div>