<div id="q-docs-metadata" class="question">
  <h3>7.How and when will data be shared? </h3>
  <div class="answer">

    {%- set listPublishingPath = [uuids.preservingCUuid, uuids.listDataQUuid]|reply_path -%}
    {%- set listPublishing = repliesMap[listPublishingPath]|reply_str_value -%} 

    {%- set datasetPath = [listPublishingPath, uuids.datasetQUuid]|reply_path -%}
    {%- set dataset = repliesMap[datasetPath]|reply_str_value -%} 

    {%- set repositoryPath = [listPublishingPath, uuids.repositoryQUuid ]|reply_path -%}
    {%- set repository = repliesMap[repositoryPath]|reply_str_value -%} 

    {%- set licencePath = [listPublishingPath, uuids.licenceQUuid ]|reply_path -%}
    {%- set licence = repliesMap[licencePath]|reply_str_value -%} 

    {%- set dataKeptPath = [listPublishingPath, uuids.dataKept ]|reply_path -%}
    {%- set dataKept = repliesMap[dataKeptPath]|reply_str_value -%} 

    {%- set doiPath = [listPublishingPath, uuids.doiQUuid]|reply_path -%}
    {%- set doi = repliesMap[doiPath]|reply_str_value -%} 

    {%- set storedRepositoryPath = [uuids.preservingCUuid, uuids.storedRepositoryQUuid]|reply_path -%}
    {%- set storedRepository= repliesMap[storedRepositoryPath]|reply_str_value -%} 

    {%- set recognizedDepositPath = [uuids.preservingCUuid, uuids.recognizedDepotQUuid]|reply_path -%}
    {%- set recognizedDeposit= repliesMap[recognizedDepositPath]|reply_str_value -%} 

    {%- set acessPublicationPath = [uuids.preservingCUuid, uuids.acessPublicationsQUuid]|reply_path -%}
    {%- set acessPublication= repliesMap[acessPublicationPath]|reply_str_value -%} 

    {%- set coldStoragePath = [uuids.preservingCUuid, uuids.coldStorageQUuid]|reply_path -%}
    {%- set coldStorage= repliesMap[coldStoragePath]|reply_str_value -%} 

    {%- set softwaresPath = [uuids.preservingCUuid, uuids.publishingSoftwarwesQUuid]|reply_path -%}
    {%- set softwares = repliesMap[softwaresPath]|reply_str_value -%}
    
    {# Chapter 6 - Giving access to data #}
    
    {%- set acessPhilosophyPath = [uuids.accessCUuid, uuids.accessPhilosophyQUuid]|reply_path -%}
    {%- set acessPhilosophy = repliesMap[acessPhilosophyPath]|reply_str_value -%} 

    {%- set acessOpenPath = [[uuids.accessCUuid, uuids.accessOpenQUuid]|reply_path -%}
    {%- set acessOpen = repliesMap[acessOpenPath]|reply_str_value -%} 

    <h4> Specify a list of data sets you will be publishing </h4>

    {%- if dataset %}
        <p> Data set :{{ dataset }} </p>
    {% endif %}

    {%- if repository %}
        <p>  The Data set is stored in  :{{ repository }} </p>
    {% endif % }

    {%- if licence == licenceCCOAUuid -%}
      <p>  They will be freely available for any use (public domain or CC0) </p>
    {%- elif licence == uuids.licenceCCBYAUuid-%}
      <p> They will be freely available with obligation to quote the source (e.g. CC-BY) </p>

    {%- elif licence == uuids.licenceRestrictionsAUuid-%}
      <p>They will be available under some restrictions </p>  
    {% endif %}

    <h3>8. How  will  data for preservation be selected, and where  data  will  be preserved long-term? </h3>

    <h4> How long will this data set be kept? </h4>

    {%- if dataKept == aslongTechnicallyAUuid -%}
      <p> As long as technically possible </p>.
    {%- elif dataKept == uuids.untilNeedAUuid-%}
      <p> Until it needs to be deleted for legal reasons </p>

    {%- elif dataKept == uuids.fixedPeriodAUuid -%}
      <p> For a fixed period (prepaid) </p>  
    {% endif %}

    {%- if storedRepository %}
        <p> Will any of the repositories you use charge you for their services? :{{ storedRepository }} </p>
    {% endif % }

    {%- if recognizedDeposit %}
        <p> Will you be making sure that packets of data deposited in different repositories can be recognized as belonging to the same study?:{{ recognizedDeposit }} </p>
    {% endif % }

    {%- if acessPublication %}
        <p> Will your publications be open access? :{{ acessPublication }} </p>
    {% endif % }

    {%- if acessPhilosophy %}
        <p> Will you be working with the philosophy 'as open as possible' for your data?:{{ acessPhilosophy }} </p>
    {% endif % }

    {%- if acessOpen %}
        <p> Can all of your data become completely open immediately?:{{ acessOpen}} </p>
    {% endif % }
    
      



    {%- if coldStorage %}
        <p> Will you be archiving your data after the project in 'cold storage'? :{{ coldStorage }} </p>
    {% endif % }

    <h3>9.What  methods or  software  tools are    needed    to access    and    use data? </h3>

    {%- if softwares %}
        <p> Specify a list of software packages you will be publishing :{{ softwares }} </p>
    {% endif % }



    <h3>10.How  will  the application   of   a unique and persistent identifier  (DOI)  to each  data  set  be ensured? </h3>

    {%- if doi %}
        <p> What is the DOI of the data set? :{{ doi }} </p>
    {% endif % }








  


