<div id="q-docs-metadata" class="question">
 
  <div class="answer">

    {# consent and legal bases #}

   


    {%- set needConsentPath = [uuids.creatingCUuid, uuids.needConsentQUuid]|reply_path -%}
    {%- set needConsentAUuid = repliesMap[needConsentPath]|reply_str_value -%}
    {%- if needConsentAUuid -%}

      <h3>If personal data are processed, how will compliance with legislation on personal data and security be ensured?</h3>
      <h4> legal and ethical requirements </h4>
    <ul>
      <h5> How we collect data according to consent and legal basis</h5>
      <li>
      <p>
      {%- if needConsentAUuid == uuids.needConsentNoNotCollectAUuid -%}
        We don't need any consent for collected data because those are not personal.
      {%- elif needConsentAUuid == uuids.needConsentNoAnotherLegalAUuid -%}
        Our work on personal data is based on a lawful basis other than consent
        {%- set legalBasePath = [needConsentPath, uuids.needConsentNoAnotherLegalAUuid, uuids.legalBaseQUuid]|reply_path -%}
        {%- set legalBaseAUuid = repliesMap[legalBasePath]|reply_str_value -%}
        {%- if legalBaseAUuid == uuids.legalBaseComplianceAUuid %}
          <span class="separator">&ndash;</span> compliance with a legal obligation.
        {%- elif legalBaseAUuid == uuids.legalBaseContractAUuid %}
          <span class="separator">&ndash;</span> contractual performance.
        {%- elif legalBaseAUuid == uuids.legalBaseVitalInterestsAUuid %}
          <span class="separator">&ndash;</span> vital interests.
        {%- elif legalBaseAUuid == uuids.legalBasePublicInterestsAUuid %}
          <span class="separator">&ndash;</span> public interest or acting under official public authority.
        {%- elif legalBaseAUuid == uuids.legalBaseLegitimateInterestsAUuid %}
          <span class="separator">&ndash;</span> legitimate interests.
        {%- elif legalBaseAUuid == uuids.legalBaseOtherAUuid -%}
          {%- set legalBaseOtherPath = [legalBasePath, uuids.legalBaseOtherAUuid, uuids.legalBaseOtherQUuid]|reply_path -%}
          {%- set legalBaseOther = repliesMap[legalBaseOtherPath]|reply_str_value -%}

          {%- if legalBaseOther%}
            <span class="separator">&ndash;</span> {{legalBaseOther}}.
          {%- else %} 
            <span class="separator">&ndash;</span> The legal bases not further specified).
          {%- endif -%}
        {%- endif -%}
      {%- elif needConsentAUuid == uuids.needConsentYesSpecificAUuid -%}
        We will collect consent for our specific use of the data.
      {%- elif needConsentAUuid == uuids.needConsentYesReuseAUuid -%}
        We will collect consent for our use as well as reuse of the data.
      {%- elif needConsentAUuid == uuids.needConsentYesAnonymizeAUuid -%}
        We will collect consent for our use of the data, and will anonymize the data afterwards for reuse.
      {%- endif -%}
      </p>
      </li>
    {%- endif -%}

    </ul>


    {# Ownership #}
    {%- set ownershipPath = [uuids.creatingCUuid, uuids.ownershipQUuid]|reply_path -%}
    {%- set ownershipAUuid = repliesMap[ownershipPath]|reply_str_value -%}

    {%- if ownershipAUuid -%}

      <h3>How  will  other legal issues, such as intellectual property rights and ownership be managed ?</h3>

      <ul>
      <h5> IP rights arranged for the generated data </h5>
      
      <li>

      {%- if ownershipAUuid == uuids.ownershipNoOwnerAUuid -%}
        <p>Our data is legally not copyrightable, there is no legal owner.</p>
      {%- elif ownershipAUuid == uuids.ownershipPIAUuid -%}
        <p>All data will be owned by the Principal Investigator.</p>
      {%- elif ownershipAUuid == uuids.ownershipInstituteAUuid -%}
        <p>All data will be owned by the institute.</p>
      {%- elif ownershipAUuid == uuids.ownershipConsortiumAUuid -%}
        <p>We have a consortium agreement that arranges Intellectual Property.</p>
      {%- elif ownershipAUuid == uuids.ownershipOtherAUuid -%}
        {%- set ownershipOtherPath = [ownershipPath, uuids.ownershipOtherAUuid, uuids.ownershipOtherQUuid]|reply_path -%}
        {%- set ownershipOther = repliesMap[ownershipOtherPath]|reply_str_value -%}
        {%- if ownershipOther -%}
          <p>The intellectual property for the data collected in the project arranged as following: {{ ownershipOther|dot }}</p>
        {%- endif -%}
      {%- endif -%}

      </li>

      </ul>
    
    {%- endif -%}
    
    </ul>

  </div>
</div>

 

 


  




